<div id="custom-doc" class="yui-t7"><!--start doc-->
  <div id="wrapper"><!--start wrapper-->


    <div id="bd"><!--start bd-->
      <div id="yui-main"><!--start yui-main-->

        <div class="yui-b">

          <div id="image_wrapper">
            <img alt="shaking hands and tax forms" src="/images/engeltax/handshake_header.jpg" />
          </div><!--end image_wrapper-->
        </div><!--end yui-b-->

        <div class="yui-b">
          <div class="yui-g">

            <div class="services-top">

              <H1>Thank you for your request <%=  @quote.name %></H1>

              <img src="/images/engeltax/nav_horizontal.gif" />
              <br />
              <br />
              <div class="yui-gc">
                <div class="yui-u first">
                  <br />
                  <br />
                  <br />

                  <p>We've received your inquiry and will get back to you with a response shortly.</p>
                  <p><a href="/">Return to the home page</a></p>


                </div>

              </div><!-- services-top -->

            </div><!-- yui-g -->
            <br />
            <br />

          </div><!--end yui-b-->

        </div><!--end yui-main-->
      </div><!--end bd-->

    </div>
  </div>
</div>



