<div id="custom-doc" class="yui-t7">
  <!--start doc-->
  <div id="wrapper">
    <!--start wrapper-->

    <div id="ft">
      <!--start footer-->
      <ul>
        <li id="footer_image1"> <a href=""><img src="/images/engeltax/footer_logo.gif" alt="Engel Logo" /></a> </li>
        <li>
          <ul id="navbarft">
            <li> <a href="/">Home</a> </li>
            <li><span class="navdivider">|</span></li>
            <li> <a href="/about">About Us</a> </li>
            <li><span class="navdivider">|</span></li>
            <li> <a href="/our-process">Our Process</a> </li>
            <li><span class="navdivider">|</span></li>
            <li> <a href="/contact">Contact Us</a> </li>
            <li> </li>
          </ul>
        </li>
        <li id="footer_image2"> <a href="http://www.orakatsystems.com/" target="_blank"><img src="/images/engeltax/site_by_orakat.gif" alt="Orakat Logo" /></a> </li>
        <li	 id="footer_content">
          <p>Copyright &copy; 2013, Engel Tax & Accounting Inc. All rights reserved.</p>
        </li>
      </ul>
    </div>
    <!--end footer-->

  </div>
  <!--end wrapper-->
</div>
<!--end custom-doc-->
