<div id="custom-doc">


  <div id="bd">
    <div id="yui-main">

      <div class="yui-b">

        <div id="image_wrapper">
          <img alt="shaking hands and tax forms" src="/images/engeltax/handshake_header.jpg"/>
        </div>
      </div>

      <div class="yui-b">


        <div class="yui-gc">
          <div class="yui-u first">

            <div id="header_left">
              <a name="fileanchor"></a>

              <h1>FILE WITH ENGEL TAX</h1>

              <img src="/images/engeltax/line_break_long.gif"/>

            </div>


            <div id="sub_header_gray">

              <p><strong><span class="caps">OUR PROCESS</span>
                <br/>
              </strong>
              </p>

              <p>Step 1: Fill out the tax checklist -&gt;<a href="/attachments/2009_Tax_Year_Checklist.xls"><strong>2009
                Checklist</strong>
              </a>
                <br/>
                <br/>

                Step 2: Mail or scan and e-mail your tax documentation to
                <a href="mailto:info@engeltaxandaccounting.com">info@engeltaxandaccounting.com</a>
                <br/>
                <br/>
                Step 3: Follow-up conference call to discuss the results of your return and any additional deductions
                you
                possibly may be eligible for<br/>
                <br/>
                Step 4: Verify the results of the&#160;electronic tax return&#160;provided by Engeltax<br/>
                <br/>
                Step 5: Receive your tax refund or pay your tax liability (direct deposit is available, if
                interested)<br/>
                <br/>
                <strong>Note:</strong>
                Engel Tax &amp; Accounting is based in Cranford, NJ and Ardsley, NY for those clients who would like to
                have their tax return prepared in person</p>


            </div>

            <img src="/images/engeltax/line_break_long.gif"/>


            <div id="refund_button">
              <img src="/images/engeltax/refund_button.jpg"/>
              <a name="refundanchor"></a>
            </div>

            <div class="yui-gb">
              <div class="yui-u first">


                <div id="refund_links">

                  <ul>
                    <li><a href="https://sa1.www4.irs.gov/irfof/lang/en/irfofgetstatus.jsp" target="_blank">Federal</a>
                    </li>

                    <li><a href="http://www.state.nj.us/treasury/taxation/refinfo.shtml" target="_blank">New Jersey </a>
                    </li>

                    <li><a href="https://www8.nystax.gov/PRIS/prisHome" target="_blank">New York</a>
                    </li>

                  </ul>

                </div>

              </div>

              <div class="yui-u">
                <div id="refund_links2">

                  <ul>
                    <li><a href="https://drsindtax.ct.gov/AUT/welcomeindividual.aspx" target="_blank">Connecticut</a>
                    </li>
                    <li>
                      <a href="https://www.doreservices.state.pa.us/PITServices/WheresMyRefund.aspx" target="_blank">Pennsylvania</a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="yui-u">
            <div id="header_right">
              <h1>KEY DATES</h1>

              <img src="/images/engeltax/line_break_short.gif"/>
            </div>

            <div id="year_filing">
              <h2>2009 FILING</h2>
            </div>

            <div id="sub_header_right">
              <ul>


                <li><h2>1/15/2010 - Engel Tax &amp; Accounting opens for business for 2009 tax return preparation</h2>
                </li>


                <li><h2>1/30/2010 - NY LLC Return Due</h2>
                </li>

                <li><h2>3/15/2010 - S/C Corporation returns due</h2>
                </li>

                <li><h2>4/15/2010 - Personal tax returns or Requests for extension due</h2>
                </li>

                <li><h2>4/15/2010 - Quarter 1 Estimated Payments due</h2>
                </li>

                <li><h2>5/17/2010 - Not for Profit returns due</h2>
                </li>

                <li><h2>6/15/2010 - Quarter 2 Estimated Payments due</h2>
                </li>

                <li><h2>9/15/2010 - Quarter 3 Estimated Payments due</h2>
                </li>

                <li><h2>1/18/2011 - Quarter 4 Estimated Payments due</h2>
                </li>
              </ul>
            </div>

            <div id="second_header_right">

              <img src="/images/engeltax/line_break_short.gif"/>
              <h4>RETURN ADDRESSES</h4>
              <ul>
                <li><p><a href="/attachments/Addresses.xls">Federal and State Return Addresses</a></p>
                </li>
              </ul>
            </div>


          </div>
        </div>


        <br/><br/>

      </div>


    </div>
  </div>

</div>


